page-user-login {

    ion-content {
        @include backgroundImage();
    }

    ion-item {
        border-bottom: none !important;
        background-color: transparent !important;
    }

    .ios-button {
        font-size: 14px;
    }

    h2 {
        font-weight: bold !important;
        font-size: 20px !important;
        margin-top: 20px !important;
        color: map-get($colors, primary) !important;
    }

    .staff-label {
        color: map-get($colors, newlight) !important;
        font-weight: bold;
    }

    ion-item:last-child {
        #scanButton {
            color: map-get($colors, primary);
            text-decoration: underline;
            font-weight: bold;
            margin-top: 10px;
        }
    }
}

.md {
    page-user-login {
        ion-input {
            border-bottom: 2px solid map-get($colors, newlight) !important;
            font-weight: bold !important;
        }
    }
}

.ios {
    page-user-login {
        ion-input {
            border-bottom: 1px solid map-get($colors, newlight) !important;
            font-weight: bold !important;
        }
    }
}
