<ion-header no-border>
  <ion-navbar>
    <ion-title>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list no-lines>

    <ion-item class="top-image" text-center>
      <img src="assets/imgs/icon.svg" />
    </ion-item>

    <ion-item text-center>
      <h2 ion-text>Hi, Welcome</h2>
    </ion-item>

    <ion-item *ngIf="platform.is('ios')">
      <ion-input type="text" placeholder="Enter your staff id" [(ngModel)]="staffId"></ion-input>
    </ion-item>

    <ion-item *ngIf="platform.is('android')">
      <ion-label class="staff-label" floating>Enter your staff id</ion-label>
      <ion-input type="text" [(ngModel)]="staffId"></ion-input>
    </ion-item>

    <!-- <ion-item text-center>
      <div (click)="scanBarcode()" id="scanButton">Or Scan Barcode</div>
    </ion-item> -->

  </ion-list>

  <ion-list no-lines *ngIf="barcodeResult">
    <ion-item>
      <span item-start><strong>Barcode Result:</strong></span>
      <span item-end ion-text color="secondary"><strong>{{barcodeResult}}</strong></span>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <button ion-button clear block (click)="proceed()">Next</button>
</ion-footer>