page-landing {

    ion-content, ion-list, ion-item {
        height: 98%;
    }

    ion-item {
        padding-left: 50px !important;
        padding-right: 50px !important;

        img {
            width: 100%;
            display: block;
            margin: 0 auto; 
        }

        #label {
            text-align: center;
            margin-top: 50px;
            font-weight: bold;
            font-size: 20px;
            white-space: normal;
            color: #002C4D;
        }
    }

    #welcome {
        font-size: 30px;
    }
}
