<ion-content>
  <ion-list no-lines>
    <ion-item>
      <img src="assets/imgs/logo.svg">
      <div id="label">
        <!-- <div>Visitor Management</div>
        <div>System</div> -->
        <!-- <div id="welcome">Welcome</div> -->
      </div>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <button ion-button clear block (click)="getStarted()">Get Started</button>
</ion-footer>