<ion-header no-border>
  <ion-navbar>
    <ion-title text-center>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list no-lines>

    <ion-item class="top-image" text-center>
      <img src="assets/imgs/icon.svg">
    </ion-item>

    <ion-item *ngIf="platform.is('ios')">
      <ion-input type="text" placeholder="Enter the code sent to your email" [(ngModel)]="otpString"></ion-input>
    </ion-item>

    <ion-item *ngIf="platform.is('android')">
      <ion-label class="staff-label" floating>Enter the code sent to your email</ion-label>
      <ion-input type="text" [(ngModel)]="otpString"></ion-input>
    </ion-item>

  </ion-list>

</ion-content>

<ion-footer>
  <button ion-button clear block (click)="proceed()">Next</button>
</ion-footer>