page-otp {

    ion-content {
        @include backgroundImage();
    }

    ion-item {
        border-bottom: none !important;
    }

    h2 {
        font-weight: bold !important;
        font-size: 20px !important;
        margin-top: 20px !important;
        white-space: normal !important;
    }

    .staff-label {
        color: map-get($colors, newlight) !important;
        font-weight: bold;
    }
}

.md {
    page-otp {
        ion-input {
            border-bottom: 2px solid map-get($colors, newlight) !important;
            font-weight: bold !important;
        }
    }
}

.ios {
    page-otp {
        ion-input {
            border-bottom: 1px solid map-get($colors, newlight) !important;
            font-weight: bold !important;
        }
    }
}
