<ion-header>
  <ion-navbar color="primary">
    <ion-title text-center>
      <span id="name">{{userName}}</span>
      <br>
      <span id="currentDate">{{currentDate}}</span>
    </ion-title>

    <ion-buttons right>
      <button ion-button clear icon-only (click)="getVisitors()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="visitors.length > 0">

    <ion-item *ngFor="let data of visitors" (click)="viewVisitor(data)">
      <img item-start [src]="data.image">
      <h3 class="name">{{data.name}}</h3>
      <p class="company">{{data.company}}</p>
    </ion-item>

  </ion-list>

  <ion-list no-lines class="last-list" *ngIf="visitors.length < 1">
    <ion-item text-center>
      <span ion-text>No waiting visitor</span>
    </ion-item>
  </ion-list>

</ion-content>
