page-home {

    .toolbar-background {
        background-color: map-get($colors, primary) !important;
    }

    ion-content {
        @include backgroundImage();
    }

    ion-item {
        background-color: transparent !important;
    }

    #name {
        font-size: 15px;
        font-weight: bold;
    }

    #currentDate {
        font-size: 12px;
        font-weight: bold;
    }

    .last-list {
        height: 90% !important;

        ion-item {
            height: 90% !important;
        }
    }

    .name {
        font-weight: bold;
        font-size: 16px;
    }

    .company {
        font-size: 12px;
        font-style: italic;
    }

    .visitor-name {
        height: 60px;
        width: 60px;
        background-color: map-get($colors, primary);
        border-radius: 50%;
        font-size: 40px;
        color: white;
        font-weight: bold;
        text-align: center;
        padding-top: 5px;

        
    }

    img {
        width: 80px;
        height: 80px;
    }
}
