.toolbar-background {
    background-color: white !important;
}

ion-footer {
    background: linear-gradient(to right, #007ea7, #006a94, #005880, #00456d, #003459);
    height: 50px;
    padding-top: 5px;

    button {
        color: white !important;
        font-weight: bold !important;
        font-size: 16px !important;
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

.top-image {
    img {
        width: 100px;
        height: 100px;
    }
}

@mixin backgroundImage {
    background-image: url('../assets/imgs/background.svg') !important;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.custom-button {
    background: linear-gradient(to right, #007ea7, #006a94, #005880, #00456d, #003459);
}