page-visitor {

    ion-slide {
        height: 100% !important;
    }

    ion-content {
        @include backgroundImage();
    }

    .card-container, .visitor-name, ion-row {
        background-color: transparent !important;
    }

    .details-item {
        border-bottom: 1px solid map-get($colors, light) !important;
    }

    ion-row {
        width: 100%;

        ion-col {
            display: block;
            text-align: center;

            ion-icon {
                font-size: 40px;
                font-weight: bold;
            }
        }
    }

    .visitor-name {
        padding-left: 25px;
    }

    .toolbar-background {
        background-color: map-get($colors, primary) !important;
    }

}
