<ion-header>
  <ion-navbar color="primary"></ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list no-lines>

    <ion-item class="visitor-name">
      <img [src]="image" item-start height="100" width="100">
      <div><strong>{{name}}</strong></div>
      <p>{{company}}</p>
    </ion-item>

    <ion-item class="card-container">
      <ion-card>
        <ion-card-header>
          <strong>Details</strong>
        </ion-card-header>

        <ion-list>
          <ion-item class="details-item">
            <h3>Phone Number</h3>
            <p>{{phoneNumber}}</p>
          </ion-item>

          <ion-item class="details-item">
            <h3>Email</h3>
            <p>{{email}}</p>
          </ion-item>

          <ion-item class="details-item">
            <h3>Purpose of Visit</h3>
            <p>{{purpose}}</p>
          </ion-item>
        </ion-list>
      </ion-card>
    </ion-item>

    <ion-row>
      <ion-col (click)="accept()">
        <ion-icon color="primary" name="ios-checkmark-circle-outline"></ion-icon>
        <br>
        <span>Accept</span>
      </ion-col>

      <ion-col (click)="reject()">
        <ion-icon color="danger" name="ios-close-circle-outline"></ion-icon>
        <br>
        <span>Reject</span>
      </ion-col>

      <ion-col (click)="reassign()">
        <ion-icon color="secondary" name="ios-refresh-circle-outline"></ion-icon>
        <br>
        <span color="secondary">Reassign</span>
      </ion-col>
    </ion-row>
  </ion-list>

</ion-content>