
<ion-header>

  <ion-navbar color="primary">
      <ion-searchbar 
      placeholder="Select a staff"
      (ionInput)="getItems($event)"
      ></ion-searchbar>

      <ion-buttons right>
        <button ion-button clear (click)="onCancel()" *ngIf="platform.is('ios')">Cancel</button>

        <button ion-button clear (click)="onCancel()" *ngIf="platform.is('android')">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
      
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list>
    <button ion-item *ngFor="let s of staffData" (click)="selectedStaff(s)">
      {{s.name}}
    </button>
  </ion-list>

</ion-content>
